.fm-page {
    background-color: #121212 !important; }

.border-danger {
  border: #ff0000 1px solid; }

.bg-dark {
    background-color: #121212 !important;
}

.btn-success {
    color: #fff;
    background-color: #121212;
    border-color: #121212;
}

.mb-1 {
    margin-bottom: -2rem !important;
}
