.fm-page {
    background-color: #289ab0 !important;
}

.border-danger {
  border: #ff0000 1px solid;
}

.bg-dark {
    background-color: #289ab0 !important;
}

.btn-success {
    color: #fff;
    background-color: #121212;
    border-color: #121212;
}

.mb-1 {
    margin-bottom: -2rem !important;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #289ab0;
    border-color: #289ab0;
}

:root {
    --success: #289ab0;
}

.btn-success:hover {
    color: #fff;
    background-color: #289ab0;
    border-color: #289ab0;
}

.img-thumbnail {
  border-radius: 0;
}

.card {
    border-radius: 0;
}

.card-footer:last-child {
    border-radius: 0;
}

.card-img {
  border-radius: 0;
}

.card-group > .card:only-child .card-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-group > .card:only-child .card-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card {
  border: 0;
  border-radius: 2px;
}

.card-header:first-child {
    border-radius: 0;
}

/*Hides the error message block in Teams Form
Applies to the id of the div in which the currency boxes live.
*/
div[fm-control-id="da1jW0"] > div.ng-star-inserted > label,
div[fm-control-id="pxy_9Q"] > div.ng-star-inserted > label,
div[fm-control-id="nTkN4s"] > div.ng-star-inserted > label,
/*Hides the error message block in Sharepoint Form
div[fm-control-id="pg3Ei4"] > div.ng-star-inserted > label,
div[fm-control-id="GUS0qB"] > div.ng-star-inserted > label,
div[fm-control-id="ZxIfqw"] > div.ng-star-inserted > label,*/
{
    display: none;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-top: 1px solid hsl(190deg 63% 42% / 30%);
    border-top-width: 4px;
}
